<app-menu-title></app-menu-title>
<div class="loadmorecontent">
<a [routerLink]="['']"> << Voltar </a>
    <div class="articles__others">
        <app-small-card
        Id="2"
        photoCover="https://i.pinimg.com/736x/6a/be/29/6abe29c632f3a22831fdd36cffe06866.jpg"
        cardTitle="NOVA MATERIA A SER INSERIDA AQUI"
        ></app-small-card>
        <app-small-card
        Id="3"
        photoCover="https://as1.ftcdn.net/v2/jpg/01/91/49/94/1000_F_191499437_a5gqBn1N7X24008KW13CmQMN8XwzAiOb.jpg"
        cardTitle="OUTRA MATERIA A SER INSERIDA AQUI"
        >
        </app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://cdn.shopify.com/s/files/1/2710/8782/files/5_1293b607-09dd-42aa-8e34-62b10634eaa2.jpg?v=1683378645"
        cardTitle="MAIS UMA MATERIA A SER INSERIDA AQUI"
        >
        </app-small-card>
        <app-small-card
        Id="5"
        photoCover="https://media.istockphoto.com/id/1313854295/vector/vector-illustration-young-gamer-sit-in-front-of-a-screen-and-playing-video-game-wearing.jpg?s=612x612&w=0&k=20&c=tGDvdD63g2nFnnmjrTtcKwi_N9e5PUKhivi__JE39hw="
        cardTitle="NOVA MATERIA A SER INSERIDA AQUI"
        ></app-small-card>
        <app-small-card
        Id="6"
        photoCover="https://i.pinimg.com/736x/6a/be/29/6abe29c632f3a22831fdd36cffe06866.jpg"
        cardTitle="OUTRA MATERIA A SER INSERIDA AQUI"
        >
        </app-small-card>
        <app-small-card
        Id="7"
        photoCover="https://as1.ftcdn.net/v2/jpg/01/91/49/94/1000_F_191499437_a5gqBn1N7X24008KW13CmQMN8XwzAiOb.jpg"
        cardTitle="MAIS UMA MATERIA A SER INSERIDA AQUI"
        >
        </app-small-card>
        <app-small-card
        Id="8"
        photoCover="https://cdn.shopify.com/s/files/1/2710/8782/files/5_1293b607-09dd-42aa-8e34-62b10634eaa2.jpg?v=1683378645"
        cardTitle="MAIS UMA MATERIA A SER INSERIDA AQUI"
        >
        </app-small-card>

    </div>
</div>