.loadmorecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.loadmorecontent a{
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    margin-bottom: 20px;
    padding: 2px;
}

.loadmorecontent a:hover{
    color: white;
    background-color: cornflowerblue;    
}

