<div class="container__big-card">

    <div class="big-card__photo">
        <img 
        src="https://www.komar.de/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/I/A/IADX8-062.jpg" 
        alt=""
        srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <a href="#">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem id magni aliquid beatae libero dolores iure ipsa deserunt laudantium corporis. Maxime nostrum ad debitis eius impedit ut, dolorum iste dolores.            
        </p>
    </a>
    </div> 
</div>
